body {
  background: #8d79fd;
}
.imagencentro {
        width: 300px;
        height: auto; 
        margin-bottom: 20px;
}
.titulo {
    font-size: 24px;
    color: #00796b;
    margin: 10px 0;
}
.subtitulo {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}
h1 {
  color: #00796b;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #00796b;
  border-radius: 4px;
}
button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #004d40;
}
.imagenarribita {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
}
.imagencostado{
    position: absolute;
    bottom: 20px;
    left: 20px; 
    width: 100px;
    height: auto; 
}
.iconoajustar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icono {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}